@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


html{
    
    background-color:#ffe5f4 ;
    

}
h1{
 
    text-align:center ;
    
    overflow: visible;
    color: black;
    font-family: Poppins;
    font-weight: 1000;
    
   

}


.mobdiv {
    display: inline;
    align-content: center;
    
    width: 220px;
    height: 300px;
    border-radius: 50px;
    display: inline;
    margin-right: 12px;

   }

 #iphone15{
    margin-left: 20px;
 }  
   
.imgall{
    
    overflow: hidden;
    width: 230px;
    height: 310px;
    border-radius: 30px ;

}
span{
    margin: 70px;
    font-family: Poppins;
    font-weight: 1000;
    font-size: large;
}
.info{
    margin: 0 auto;
   width: 1200px;
   height: 400px;
   
   
    border-radius: 50px;
    margin-bottom: 30px;
}
.iframe{
    
    display: inline;
    overflow: hidden;
    
}
iframe{
    
    height: 397px;
     width: 544px;
     overflow: hidden;
     
}
.infoimg{
    
    
    height: 400px;
    width: 360px;
   
}
#info1{
    background-color:#4b3f41;
}
#info2{
    background-color:#d4babe ;
}
#info3{
    background-color: #f23a3a;
}
#info4{
    background-color: #e1aef9 ;
}
#info5{
    background-color: #c1ebf5;
}
.card {
    float: right;
    
    width: 290px;
    height: 400px;
    border-radius: 10px;
    background: #251818;
    font-family: Poppins;
    font-weight: 1000;
   
   }
   pre{
    font-family: Poppins;
    font-weight: 1000;
    color: #d4d4d4;
    
   }
   .specs{
    text-align: center;
    font-family: Poppins;
    font-style: italic;
    
   }


button {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px  #2fabbc, -6px -6px 12px  #2fabbc;
    background-color: #7698db;
    font-weight: 1000 ;
    font-family: Poppins ;
   }
   
   button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   button:hover::before {
    width: 9em;
    
   }

b{
    text-decoration: underline;
    font-size: large;
    font-weight: 1000 ;
    font-family: Poppins ;
    
   }