@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


html{
    
    background-color:#ffe5f4 ;
    

}
h1{
 
    text-align:center ;
    
    overflow: visible;
    color: black;
    font-family: Poppins;
    font-weight: 1000;
    
   

}


.mobdiv {
    display: inline;
    align-content: center;
    
    width: 220px;
    height: 300px;
    border-radius: 50px;
    display: inline;
    margin-right: 12px;

   }

 #iphone15{
    margin-left: 20px;
 }  
   
.imgall{
    
    overflow: hidden;
    width: 230px;
    height: 310px;
    border-radius: 30px ;

}
span{
    margin: 70px;
    font-family: Poppins;
    font-weight: 1000;
    font-size: large;
}
.info{
    margin: 0 auto;
   width: 1200px;
   height: 400px;
   
   
    border-radius: 50px;
    margin-bottom: 30px;
}
.iframe{
    display: inline;
    overflow: hidden;
    
}
iframe{
    
    height: 397px;
     width: 544px;
     overflow: hidden;
     
}
.infoimg{
    
    
    height: 400px;
    width: 360px;
   
}
#info1{
    background-color:#4b3f41;
}
#info2{
    background-color:#d4babe ;
}
#info3{
    background-color: #f23a3a;
}
#info4{
    background-color: #e1aef9 ;
}
#info5{
    background-color: #c1ebf5;
}
.card {
    float: right;
    
    width: 290px;
    height: 400px;
    border-radius: 10px;
    background: #c2c0c4;
    font-family: Poppins;
    font-weight: 1000;
   
   }
   pre{
    font-family: Poppins;
   }

#card2{
    background-color: #4b3f41;
    
}